page-about {
    #title {
        display: inline-block;
        width: 100%;
        background-color:rgb(131, 29, 22);
        padding: 0;
        height: 20%;

        h2, p {
            text-align: center;
            color: white;
        }
    }

    .name {
        text-align: right;
        font-Weight: Bold;
    }

    #footer {
        display: inline-block;
        width: 100%;
        background-color:rgb(61, 12, 8);
        bottom: 0;
        padding: 0;
        height: 20%;

        #logo {
            display: block;
            margin: auto;
            width: 35%;
            background-color: white;
        }
    }
}
