page-login {
    #b_connexion {
        position: relative;
        background-color: azure;
        width: 100%;
        height: 50%;
        float: left;

    }

    #b_be {
        height: 100%;
        width: 100%;
    }

    #b_inscript {
        position: relative;
        float: left;
        width: 100%;
        height: 50%;
        background-color: beige;
    }

    #b_become {
        height: 100%;
        width: 100%;
    }
}