<ion-tabs id="tabbar">

  <ion-tab id="home" [root]="tab1Root" tabIcon="home" ng-if="isSelected"></ion-tab>
  <ion-tab id="info" [root]="tab2Root" tabIcon="information-circle" ng-if="isSelected"></ion-tab>
  <ion-tab id="profil" [root]="tab3Root" tabIcon="contact" ng-if="isSelected"></ion-tab>
  <ion-tab id="location" [root]="tab4Root" tabIcon="calendar" ng-if="isSelected"></ion-tab>

  <ion-tab id="gps" [root]="tab5Root" tabIcon="pin" ng-if="isSelected"></ion-tab>
  <ion-tab id="logout" [root]="tab7Root" (click)="logout()" tabIcon="log-out" ng-if="isSelected"></ion-tab>
</ion-tabs>
