<ion-content>
  <ion-list>
      <ion-item>
        <ion-label fixed>Prénom</ion-label>
        <ion-input [(ngModel)]="firtsname" type="text" value="" minlength="3"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Nom</ion-label>
        <ion-input [(ngModel)]="lastname" type="text" minlength="3"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Email</ion-label>
        <ion-input [(ngModel)]="email" type="email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Mot de Passe</ion-label>
        <ion-input [(ngModel)]="password" type="password" minlength="6"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Confirmation</ion-label>
        <ion-input [(ngModel)]="confirmPassword" type="password" minlength="6"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label>Mois</ion-label>
          <ion-select [(ngModel)]="monthSelected">
            <span *ngFor="let month of ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']">
              <ion-option value="{{month}}">{{month}}</ion-option>
            </span>
          </ion-select>
          <ion-label>Année</ion-label>
          <ion-select [(ngModel)]="yearSelected">
              <ion-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Genre</ion-label>
        <ion-select [(ngModel)]="gender">
          <ion-option value="Femme">Femme</ion-option>
          <ion-option value="Homme">Masculin</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label fixed>Téléphone</ion-label>
        <ion-input [(ngModel)]="phoneNumber" type="text" minlength="10" maxlength=10></ion-input>
      </ion-item>

      <ion-item>
        <ion-label fixed>Adresse</ion-label>
        <ion-input [(ngModel)]="address" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Groupe Sanguin</ion-label>
        <ion-select [(ngModel)]="groupBlood">
          <ion-option>A-</ion-option>
          <ion-option>A+</ion-option>
          <ion-option>B-</ion-option>
          <ion-option>B+</ion-option>
          <ion-option>O-</ion-option>
          <ion-option>O+</ion-option>
          <ion-option>AB-</ion-option>
          <ion-option>AB+</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Orientation Sexuelle</ion-label>
        <ion-select [(ngModel)]="sexuelOrientation">
          <ion-option>hétérosexuel</ion-option>
          <ion-option>homosexuel</ion-option>
          <ion-option>bisexuel</ion-option>
        </ion-select>
      </ion-item>
    
  
      <button ion-button color="danger" id="b_validerInscrip" round (click)="validateInscript()">Valider</button>
      </ion-list>
</ion-content>