page-connexion {
    #already {
        display: inline-block;
        width: 100%;
        background-color:antiquewhite;
        padding: 0;
        height: 10%;

        p, h1 {
            text-align: center;
        }
    }
    
    .btn-connect {
        width: 80%;
        text-align: center;
    }
}