page-connexion {
    #become {
        display: inline-block;
        width: 100%;
        background-color:antiquewhite;
        padding: 0;
        height: 10%;

        p {
            text-align: center;
        }
    }
    
    #btn-connect {
        width: 100%;
        text-align: center;
    }
}